html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

:root {
    --color-fondo: #797878;
    --color-membership-form-default: #000000;
    --color-letras-default: #eaeaea;
}

@font-face {
    font-family: 'FuenteHeader';
    src: url('BitcountPropDouble-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf') format('truetype');
    /* Usa 'woff' o 'woff2' si tu archivo es de ese tipo */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuenteDescripcion';
    src: url('Arimo-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: #797878;
}

.membership-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    max-width: 71.6%;
    min-width: 71.6%;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    background-color: var(--color-membership-form-default);
    overflow: hidden;

    gap: 20px;
    padding: 20px 0;
}

a{
    text-decoration: none;
}

#header{
    color: #fff;
    text-align: center;

    font-family: 'FuenteHeader', Arial, sans-serif;
    font-size: 65px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-top: 10px;
    transition: transform 0.3s;
    display: inline-block;
}

#header:hover{
    transform: scale(1.08);
}

.descripcion{
    color: var(--color-letras-default);
    box-sizing: border-box;
    font-style: italic;
    text-align: center;
    text-wrap: wrap;
    font-family: 'FuenteDescripcion', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    width:100%;
    max-width: 550px;
    min-width: 100px;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 60%;
  min-width: 200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.fieldset-texto {
    margin-bottom: 15px;
}

span{
    color: var(--color-letras-default);
    font-family: 'FuenteDescripcion', Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
}

.cuenta{
    text-decoration: underline;
    text-decoration-color: var(--color-letras-default);
    text-decoration-thickness: 1px;
}

.input-container {
    margin-bottom: 25px;
}

.input-container input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    color: var(--color-letras-default);
    background-color: var(--color-membership-form-default);
    background: transparent;
    width: 100%;
    border: none !important;
    border-bottom: 2px solid #eaeaea !important;
    background: transparent;
    box-sizing: border-box;
    font-size: 20px;
}

#image-slider {
    position: fixed;
    box-sizing: border-box;
    border-left: 10px;
    border-color: #ffd700;
    top: 0;
    right: 0;
    width: 28%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #222;
}

#image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.poster-credit {

    display: flex;
    text-align: center;
    text-wrap: wrap;
    justify-content: center;
    flex-shrink: 10;
    word-break: break-word;
    white-space: normal;


    position: absolute;
    width: 244px;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    pointer-events: none;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s;
}

.poster-credit {
    transition: opacity 0.5s, transform 0.5s;
}

@media (max-width: 700px) {
  #image-slider {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    min-width: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
}

@media (max-width: 700px) {
  .membership-form {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    position: static !important;
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}

/* Estilo para el autocompletado en Chrome/Safari */
.input-container input:-webkit-autofill {
  background: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Firefox */
.input-container input:autofill {
  background: transparent !important;
  color: #fff !important;
}

#header {
  animation: fadeToRight 0.8s ease;
}

.descripcion {
  animation: fadeInUp 0.8s ease;
}

